.App {
  background-color: snow;
}

.import-url {
  
}

.response-div {
  background-color: black;
  height: fit-content;
  width: screen;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}